<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.waw.staszic.w.admin1.symphoniae_core">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>